{
  "wifi_ssid": "Please set your Wi-Fi SSID.",
  "wifi_pass": "Please set your Wi-Fi Password.",
  "ics_url": "Please set your ics URL.",
  "ics_user": "Please set user name if required.",
  "ics_pass": "Please set password if required.",
  "ntfy_topic": "Please set notify topic name to ntfy.sh",
  "midi_file": "/midi/alarm.mid",
  "midi_url": "https://example.com/midi",
  "midi_baud": 31250,
  "alarm_offset": 10,
  "port_select": 1,
  "time_24h": true,
  "text_wrap": false,
  "ics_poll_min": 1,
  "play_duration": 0,
  "play_repeat": 1,
  "max_events": 99,
  "max_desc_bytes": 500,
  "min_free_heap": 80
}
